{% extends "layout.html" %}

{% block title %}
    Stock information
{% endblock %}

<!--Show all news to queried stock-->
<!--Adapted from: https://v4-alpha.getbootstrap.com/components/card/-->
<!--Table with news on stocks; Double for-loop to position them correctly: 3 columns; rows dependent on project number-->

{% block main %}
    <form action="/information" method="post">
        <h4 class="card-title">A share of {{stock.name}} ({{stock.symbol}}) costs {{ stock.currency }} {{ stock.price }}</h4>
        <br>
        <br>

        <h3>News</h3>
        <table class="table table">
             <tbody>
                <tr>
                    {% for i in range(0, 3) %}
                    <td>
                        <div class="card" style="width: 20rem;">
                            {% if articles[i][0]['image'] == "" %}
                                <img class="card-img-top" src="https://www.wiwo.de/images/wall-street/20417210/3-formatOriginal.jpg" alt="Card image cap" height="200">
                            {% else %}
                                <img class="card-img-top" src="{{ articles[i][0]['image'] }}" alt="Card image cap" height="200">
                            {% endif %}
                            <br>
                        </div>
                        <div class="card-block" align="center">
                                <h4 class="card-title">{{ articles[i][0]['title'] }}</h4>
                            {% if articles[i][0]['description'] == "" %}
                                <p class="card-text" align="justify" style="height:60px;">Sorry, there are currently no news available on our API. But have a look at Bloomberg.</p>
                            {% else %}
                                <p class="card-text" align="justify" style="height:60px;">{{ articles[i][0]['description'] }}...</p>
                            {% endif %}
                                <br>
                            {% if articles[i][0]['date'] == "" %}
                                <p class="card-text" style="height:60px;"></p>
                            {% else %}
                                <p class="card-text" style="height:60px;">{{ articles[i][0]['date'] }}.</p>
                            {% endif %}
                            {% if articles[i][0]['link'] == "" %}
                                <a class="btn btn-outline-secondary" href="https://www.bloomberg.com/search?query={{stock.name}}">Find news here</a>
                            {% else %}
                                <a class="btn btn-outline-secondary" href="{{ articles[i][0]['link'] }}">View article</a>
                            {% endif %}
                        </div>
                        <br>
                        <br>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <br>
        <div class="card mb-3">
            <img class="card-img-top" src="http://static1.uk.businessinsider.com/image/569961fadd08951a708b463d-1190-625/investigators-believe-money-to-finance-the-wolf-of-wall-street-came-from-a-malaysian-state-fund.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Buy shares of {{stock.name}}</h4>
                <p class="card-text">{{ stock.currency }} {{ stock.price }} – bull or bear?</p>
                <p class="card-text"><small class="text-muted"><i>"It's business, leave your emotions at the door." – Jordon Belfort</i></small></p>
                <div class="form-group">
                    <input autocomplete="off" class="form-control" name="shares" placeholder="# of New Shares" type="number"/>
                </div>
                <button class="btn btn-outline-secondary" type="submit">Buy</button>
            </div>
        </div>
    </form>
{% endblock %}